.Task {
    max-width: 400px;
    width: 100%;

    margin-bottom: 20px;

    padding: 4px 8px;
    box-sizing: border-box;
/* 
    border-bottom: 1px solid grey; */

    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-between;
}
.TaskButtons {
    width: 100%;
    display: flex;
    flex: 1 1 130px;
    justify-content: flex-end;
}
.TaskButtons > button {
    margin-left: 10px;
}
.TaskEdit {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid grey;
}
.TaskEdit > h4 {
    padding: 0;
    margin: 0;

}
.TaskName {
    width: 100%;
    margin: 0;
    margin-top: 6px;
    /* flex: 1 1 156px; */
    /* background-color: rgb(233, 255, 193); */
    text-align: start;
}