.CalendarNavigation {
    margin: 0 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Month {
    margin: 0;
    padding: 0;
}
.ForwardButton {
    width: 24px;
    height: 24px;

    border: none;

    cursor: pointer;

    background-color: #ffffff00;
    background-image: url('../../../images/ui/arrow-right.svg');
}
.BackButton {
    width: 24px;
    height: 24px;

    border: none;

    cursor: pointer;

    background-color: #ffffff00;
    background-image: url('../../../images/ui/arrow-left.svg');
}
