.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr {
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
  margin: 2px;

  width: 52px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid; */
  box-sizing: border-box;
}
td:hover {
  background-color: #3a3a3a;
  color: aliceblue;
  cursor: pointer;
}